.message-container {
  position: fixed;
  left: 50%;
  top: 16px;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 0 20px;
  font-size: 14px;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  // animation: changeTop 0.3s infinite linear;
  // animation-fill-mode: forwards;
  // animation-iteration-count:1;
  transition: all .3s;
  .message-content {
    padding: 8px;
    i {
      margin-right: 8px;
    }
    &.success {
      i {
        color: $primary-color-2;
      }
    }
    &.error {
      i {
        color: $primary-color-1;
      }
    }
    &.warning {
      i {
        color: #f9ad18;
      }
    }
  }
}

@keyframes changeTop {
  0% {
    top: 0;
  }
  100% {
    top: 16px;
  }
}